* {
    font-family: 'Metal Mania', cursive;
}

#my-h1-1 {
    display: inline; /* the default for span */
    color: #7E3517;
    margin: 1em;
    float: left;
}

#my-h1-2 {
    display: inline-block;
    color: #E5BC55;
    margin: 1em;
    float: right;
}

#my-h1-3 {
    color: #AA4524;
    margin-bottom: .5em;
}

#footer {
    position: absolute;
    bottom: 0;
    float: left;
    left: 15%;
    list-style:none;
 }